<ion-header>
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="reorderButtonClicked()">
        <ion-icon name="reorder-four"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-reorder-group #reorderGroup (ionItemReorder)="reorderHandler($event)">
      <ion-item *ngFor="let record of records; let i = index">
        <ion-reorder *ngIf="!reorderGroup.disabled"></ion-reorder>

        <ion-item-sliding>
          <ion-item>
            <ion-label>
              <h2>{{record.line.name}}</h2>
              <h3>From {{record.station.name}} to {{!!record.destination ? record.destination.name : record.transilienDestination.name}}</h3>

              <ng-container *ngIf="!!record.traffic && record.traffic.slug !== 'normal'">
                <ion-label color="danger">{{record.traffic.title}}</ion-label>
                <ion-label color="danger">{{record.traffic.message}}</ion-label>
              </ng-container>

              <ng-container *ngIf="!!record.schedules; else elseBlockSchedules">
                <div class="transilien-schedule" *ngFor="let schedule of record.schedules">
                  <p *ngIf="!!schedule.message">{{schedule.destination}}: {{schedule.message}}</p>
                  <p *ngIf="!!schedule.message2">{{schedule.message2}}</p>
                  <p *ngIf="!!schedule.message3">{{schedule.message3}}</p>
                </div>
              </ng-container>
              <ng-template #elseBlockSchedules>
                <p>Loading schedules...</p>
              </ng-template>
            </ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option (click)="deleteRecord(i)">Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>
