<ion-header>
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let record of records">
    <ion-card-header>
      <ion-card-subtitle>{{record.type.name}}</ion-card-subtitle>
      <ion-card-title>{{record.line.name}} to {{record.destination.name}}</ion-card-title>
      <ion-card-subtitle>Station: {{record.station.name}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="!!record.schedules; else elseBlock">{{record.schedules}}</div>
      <ng-template #elseBlock><p>Loading schedules...</p></ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
